<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra MVC</title>
  </head>
  <style>
    body {
      margin: auto
      text-align: center 
    }
    h1 {
      color:red
     
    }

    p {
      font-style: Times;
      font-size: 32px;
      margin-left: 40%
    }

  </style>

  <body>
    <h1>Index</h1>
    <p> I love programming </p>
  </body>
</html>